<% @movies.each do |movie| %>
<div class="entry">
  <%= link_to image_tag( movie.image ), 
    cart_items_path(:movie_id => movie.id ), :method => :post %>
  <h3>
    <%= link_to movie.title, "/movies/" + movie.id.to_s %>
  </h3>
  <div style="width:600px">
    <%= sanitize( truncate( movie.overview , :length => 150, :omission => '...' ) ) %>
    <%= link_to "read more", movie %>
  </div>
  <div class="price_line">
    <%= button_to 'Add to cart', cart_items_path(:movie_id => movie.id ), :remote => true %>
  </div>
</div>
<% end  %>
