<h1>Rental History</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Movies</th>
    <th></th>
  </tr>

<p>
  <%= will_paginate @orders %>
</p>
<% @orders.each do |order| %>
  <tr>
    <td><%= order.created_at %></td>
    <td><%= order.movie_titles %></td>
    <td><%= link_to 'Show', order %></td>
  </tr>
<% end %>
</table>
<br />
<p>
  <%= will_paginate @orders %>
</p>
