<% if notice %>
<p id="notice">
  <%= notice %>
</p>
<% end %>

<h2>Stuffs</h2>
<p>
Lo rem ipsum dolor sit amet, consectetur adipiscing elit. 
Etiam justo ligula, pretium id gravida scelerisque, consequat sit amet ligula. 
Nullam tristique auctor tempor. Praesent non fermentum purus. In nisl orci, 
rutrum in sollicitudin vitae, adipiscing vel dolor. Cras a leo ac urna volutpat 
rhoncus eget vel felis. Donec gravida pharetra dui, ut fringilla lacus laoreet id. 
Integer posuere urna sed augue fermentum ultricies in sed diam.
Nullam feugiat odio at massa vestibulum lobortis. Mauris vel lobortis quam. 
Pellentesque at orci metus, sed sollicitudin ante. 
</p>

<h2>Hot New Releases</h2>

<% @movies.each do |movie| %>
<div class="entry">
  <%= link_to image_tag( movie.image ), 
    cart_items_path(:movie_id => movie.id ), :method => :post %>
  <h3>
    <%= link_to movie.title, "/movies/" + movie.id.to_s %>
  </h3>
  <div style="width:600px">
    <%= sanitize( truncate( movie.overview , :length => 150, :omission => '...' ) ) %>
    <%= link_to "read more", movie %>
  </div>
  <div class="price_line">
    <%= button_to 'Add to cart', cart_items_path(:movie_id => movie.id ), :remote => true %>
  </div>
</div>
<% end  %>
