<% if session[:user_id] %>
  <p>
    Welcome, somebody! <br />
    <%= link_to 'Rent History'   , orders_path %> <br />
    <%= link_to 'Profile Update' , "" %> <br />
    <%= button_to "Logout", logout_path, :method => :delete %>
  </p>
<% else %>
  <% if @cart %>
    <%= hidden_div_if( @cart.cart_items.empty? ,:id => "cart") do %>
      <%= render @cart %>
    <% end %>
  <% end %>
<% end %>
<% if @categories %>
  <h2>Category</h2>
  <div id="category">
    <%= render @categories %>
  </div>
<% end %>

