<!DOCTYPE html>
<html>
<head>
  <title>Movie Bento</title>
  <%= stylesheet_link_tag "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "styles", :media => "all" %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div id="navbar" class="navbar navbar-fixed-top"> 
    <div class="navbar-inner"> 
      <div class="container">
        <a class="brand" href="/">Movie Bento</a>
        <div class="nav-collapse">
          <ul class="nav"> 
            <li><a href="/">Home</a></li>
            <% if !session[:user_id] %>
              <li><a href="/login">Login</a></li>
            <% else %>
              <li><a href="/member">Member Area</a></li>
            <% end %>
          </ul>
        </div>
        <div id="login-box">
          <% if !session[:user_id] %>
            <form class="navbar-search pull-right" action="">
              <fieldset role="login">
                Username: <input type="text" name="name" />
                Paswword: <input type="password" name="password" />
                <input type="submit" value="Login" class="login-button" />
              </fieldset>
            </form> 
          <% else %>
            Welcome!
          <% end %>
        </div>
        <div style="clear:both" />
      </div>
    </div>     
  </div>

  <div id="columns" class="container">
    <div class="row">
      <div id="side" class="span3">
        <%= render "layouts/sidebar" %><!-- store/sidebar -->
      </div>

      <div id="main" class="span9">
        <%= yield %>
      </div>
    </div>
  </div>      
</body>
</html>
